:root {
  --color-main: #8a0000;
  --color-back: #D9D9D9;
  --color-back2: #888888;
  --color-extra: #D90000;
  --color-text: #090909;
  --fontS-big: 26px;
  --fontS-mid: 20px;
  --fontS-smoll: 18px;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  background-color: var(--color-back);
  
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: var(--color-text);
}


/* HEADER BOX */


.header {
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 45px;
  background-color: var(--color-back2);
  border-radius: 0 0 10px 10px;
  box-shadow: 0 3px 10px 0px var(--color-main);
  font-size: var(--fontS-mid);
}

.header__link {
  display: block;
  text-decoration: none;
  color: var(--color-text);
  font-size: var(--fontS-big);
  text-shadow: 0 0 5px var(--color-back);
  text-align: center;
  transition: all .4s;
}
.header__link:hover {
  text-shadow: 0 0 5px var(--color-main);
}

.lang {
  width: min-content;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px 0 var(--color-back);

  border-radius: 10px;
  transition: all .4s;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  border: none;
  background-color: var(--color-back);
}

.lang:hover {
  cursor: pointer;
  box-shadow: 0 0 10px 0 var(--color-main);
}

.lang__item {
  position: relative;
  transition: all .4s;
  margin: 0 5px;
}

.lang__item--active {
  color: var(--color-main);
}

.lang__item--active::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-main);
  box-shadow: 0 0 5px 0 var(--color-extra);
}
 
.container {
  width: 100%;
  max-width: 1440px;
}



/* MAIN BOX */


.main {
  flex-grow: 1;
  padding: 35px 0;
}

.intro {
  padding: 0 20px;
  margin-bottom: 75px;
  display: flex;
  justify-content: space-evenly;
}

.content {
  padding-left: 40px;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: var(--fontS-smoll);
  font-weight: 300;
}

.content__link {
  margin-top: 35px;
  align-self: start;
  color: var(--color-text);
  transition: all .4s;
}

.content__link:hover {
  text-shadow: 0 0 10px var(--color-main);
}

.intro__img {
  margin-left: 30px;
  width: 100%;
  max-width: 350px;
  box-shadow: 5px 5px 10px 0px var(--color-main);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 25px;
  padding: 0 30px;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 300px;
  min-height: 380px;
  padding: 10px 0 20px;

  border-radius: 10px;
  box-shadow: 0 0 10px 2px var(--color-back2) inset;
}

.project__img {
  width: 100%;
  height: 150px;
}

.project__title {
  width: 100%;
  margin-top: 5px;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  text-shadow: 0 0 5px var(--color-back);
}

.project__title::before {
  position: absolute;
  top: -5px;
  left: 0;
  content: "";
  width: 100%;
  height: 30px;
  background-color: var(--color-main);
  opacity: .4;
}

.project__description {
  padding: 15px 15px;
}

.project__tools {
  padding: 0 15px;
  display: flex;
  gap: 10px;
  flex-grow: 1;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;

  list-style: none;
}

.project__tools-item {

}

.project__tools-item::after {
  content: ";";
}

.project__link {
  margin-top: 10px;
  width: 100%;
  max-width: 200px;
  height: 35px;

  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  border-radius: 10px;
  background-color: var(--color-main);
  color: var(--color-back);
  font-size: var(--fontS-mid);

  transition: all .4s;
}

.project__link:hover {
  color: var(--color-text);
  box-shadow: 0 0 10px 5px var(--color-back) inset;
}

/* FOTER BOX */


.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 50px 50px;

  background-color: var(--color-back2);
  border-radius: 10px 10px 0 0;
  box-shadow: 0 -3px 10px 0px var(--color-main);
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  padding: 0;
  list-style: none;
}

.contacts__link {
  position: relative;
  margin-left: 20px;
  color: var(--color-text);
  text-decoration: none;
  transition: all .4s;
}

.contacts__link::before {
  position: absolute;
  content: "";
  left: -30px;
  top: -5px;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.contacts__link:hover {
  text-shadow: 0 0 5px var(--color-extra);
}

.link-phone::before {
  background-image: url("./assets/contact/phone.svg");
}

.link-mail::before {
  background-image: url("./assets/contact/mail.svg");
}

.link-telegram::before {
  background-image: url("./assets/contact/telegram.svg");
}

.link-git::before {
  background-image: url("./assets/contact/git.svg");
}

/* MEDIA */

@media (max-width: 700px) {

  .intro {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 45px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .intro__img {
    margin: 0;
  }

  .content {
    padding-left: 0;
  }
}

@media (max-width: 400px) {
  .header {
    flex-direction: column;
    padding: 15px 0;
    gap: 20px;
  }
}